<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Socket IO Chat with Node!</title>
	<link rel="stylesheet" href="css/main.css">
</head>
<body>
	<input type="text" id="nickname" placeholder="What is your nickname?">
	<div class="scroll-class">
	<ul id="messages"></ul>
	</div>
	<form>
		<input class="message" type="text" id="m" autocomplete="off">
		<button>send</button>
	</form>

  <script src="../socket.io/socket.io.js"></script>
  <script src="../js/main.js"></script>
  <script src="https://code.jquery.com/jquery-1.11.1.js"></script>
	<script>
	  $(function () {

	    var socket = io();
			$("#nickname").keypress(function() {
			nick1 = $("#nickname").val();
      console.log(nick1);

    });

	    $('form').submit(function(){
	      socket.emit('chat message', $('#m').val());
	      $('#m').val('');
				var objDiv = document.querySelector(".scroll-class");
				objDiv.scrollTop = objDiv.scrollHeight;
	      return false;
	    });
	    socket.on('chat message', function(msg){
				console.log(nick1);
				$('#messages').append($('<p>').text(nick1));
	      $('#messages').append($('<li>').text(msg));
	    });
	  });
	</script>
</body>
</html>
